:root {
    --background-inter: linear-gradient(
      120deg,
      rgb(104, 107, 106),
      rgba(48, 49, 49, 0.67)
    );
  }

  .mainabout{
      
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('https://images.pexels.com/photos/5409751/pexels-photo-5409751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  
    
}
.abr{
    
    background-image:  linear-gradient(
        320deg,
        rgb(46, 179, 46),
        rgb(108, 178, 180),
        rgb(233, 128, 128), 
        rgb(121, 173, 114),
        rgba(12, 10, 10, 0.67)

      );
      background-color: #fff;
  
}
.about-details{
    display: flex;
    align-items: center;justify-content: center;
}
.about-dev{
    font-family: "poppins", sans-serif;
    flex: 1;
    font-size: 10em;
    color: rgb(13, 14, 13);

    
   
    margin:50px;
margin-top: 60vh;
    font-weight: 600;
}
.about-par{
    width: 44%;
    font-family: "poppins", sans-serif;
    font-size:22px;
    margin-top: 50vh;
    color: blanchedalmond;
    font-weight: 400;
    margin-right: 20px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
    
    padding: 10px 30px;

}
.par{
    flex:1;
    
}
@media screen  and (max-width:918px){
    .about-details{
        display: flex;flex-direction: column;
    }
    .mainabout{
        height: auto;
        overflow: hidden;
    }
    .about-dev{
        text-align: center;
    margin-top: 300px;
        
    }
    .about-par{
        text-align: center;
        width: 100%;
        margin-right: 0px;
        min-height: 50vh;
        font-size: 30px;
        line-height: 50px;
    }
    .par{
    
    }
    
}