.abouthome{
display: flex;
flex-direction: column;
    color: black;
    
}
.abtitle{
    padding:  70px ;
    margin-top: 90px;
    font-size: 50px;
    font-weight: 900;
    font-family: "poppins";
    color: #000;
}
.abpar{
    padding:0px 70px ;
    font-size: 20px;
    margin-top: -40px;
font-weight: 300;
    margin-bottom: 100px;
}
.spmintitle{
    padding:0px 70px ;
    font-size: 40px;
    font-family: "poppins",sans-serif;
    font-weight: 900;
    color: #000;
}
