.opt{
display: flex;
}
.optright{
    flex:1;
    padding:0px 70px
}
.optleft{
flex:1
}
.optmain{
    color: black;
    font-size: 20px;
    font-weight: 600;

}
.optpar{
    margin-bottom: 30px;
    color: #444;
}