.values{
    display: flex;
    height: 100vh;
    justify-content: center;
    
    
}
.valuestitle{
    flex-direction: column;display: flex;
    font-size: 40px;
    font-family: "poppins",sans-serif;
    font-weight: 900;
    color: #000;
}
