.values{
    display: flex;
    
    justify-content: center;
    margin-bottom: 50px;
    
    
}
.valuestitle{
    flex-direction: column;display: flex;
    font-size: 30px;
    font-family: "poppins",sans-serif;
    font-weight: 900;
    color: #000;
}

