.details {
    overflow: hidden;
  /* height: 150vh; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.detailsheader {
  font-family: "poppins", sans-serif;
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
  font-size: 80px;
  font-weight: 900;
  color: rgb(233 172 0);
  letter-spacing: 2px;
}
.detailspar {
  font-family: "poppins", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  width: 80%;
  margin: 40px 10px;
}
.circlemain {
  display: flex;
  margin: auto 0px;
  flex-wrap: wrap;
  color: black;
  margin-top: -10px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid lightgray;
  display: flex;
  color: rgb(233 172 0);
  margin: 30px 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.circleheaders {
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle:hover {
  background-color: rgb(233 172 0);
  color: white;
  border: none;
}
.hrt{
    background-color: #000;
}
