.home {
  display: flex;
  color: black;
  margin-top: 150px;

}
.homeleft {
  flex: 1;
  padding: 0px 120px;
  margin-top: 90px;
}
.homeright {
  flex: 1;
}


.landingimg{
    width: 120%;
    height: 110%;
    margin-left: -30px;
    margin-top: -30px;
    display: flex;align-items: center;justify-content: center;
    /* object-fit: cover; */
    
  
  
}
.landingmain{
    font-size: 50px;
    font-weight: 900;
    font-family: "poppins";
    color: #000;


}
.landingpar{
    font-size: 20px;
    margin-top: 20px;
font-weight: 300;
margin-bottom: 40px;
    color: #444;
}
.landingbtn{
    padding: 20px 30px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 39px;
    margin: 10px 0px 40px;
    width: 200px;
    letter-spacing: 3px;
    font-family: "poppins",sans-serif;
    cursor: pointer;

}
