

body{
    margin: 0;padding: 0;box-sizing: border-box;
}
.Sem{
    /* background-color: rgb(233, 227, 227); */
    width: 100%;
    overflow: hidden;
    display: flex;
}
.semp{
    
    color: darkgoldenrod;
    
    font-size: 20px;
    font-weight: 300;
    font-family: "poppins",sans-serif;
}
.semmain{
    color: darkgoldenrod;
    border-bottom: 1px solid #ffd400;
    font-family: serif;

}
.semright{
width: 25%;

display: flex;align-items: center;justify-content: center;
}
.semleft{
width:76%;
margin: 20px;
}
