

body{
    margin: 0;padding: 0;box-sizing: border-box;
}
.Seo{
    /* background-color: rgb(233, 227, 227); */
    width: 100%;
    overflow: hidden;
    display: flex;
}
.seop{
    width: 90%;
    color: darkgoldenrod;
    
    font-size: 20px;
    font-weight: 300;
    font-family: "poppins",sans-serif;
}
.seomain{
    color: darkgoldenrod;
    border-bottom: 1px solid #ffd400;
    font-size: 30px;
    font-family: serif;
}
.seoright{
width: 80%;
margin: 20px;
}
.seoleft{
width:10%;
display: flex;align-items: center;justify-content: center;
}