body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.navright{
  flex:3;
}
.navleft{
flex:4;
font-weight: 900;

}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 7%;
  background-color:rgba(0,0,0,0.89);
  position: fixed;
  width: 100%;
  font-weight: 900;
  z-index: 999;
}
.bars-button{
  display: none;
}
.logo{
  color: #fff;
  font-weight: 500;

  font-size: 34px;
}
.links{
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 300;
}
.links  a{
  font-family: "poppins";
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
}
.additional{
  color: #333  ;display: none;
}

.links a::after{
 position: absolute;
 
 content:"";
 bottom: 4px;
 left: 0;
 right: 0;
 width: 100%;
 height: 2px;
 background-color:teal;
 transition: 0.9s ease;
 border-radius: 12px;
}
.links a:hover{
  color: white;
  z-index: 1;
  transition:all .8s ease;

}
.links a:hover::after{
  height: 80%;
  z-index: -1;
}


@media only screen and (max-width:981px){
  .navbar{
    padding: 25px 3%;
  }
  .links a{
    font-size: 16px;
  }
}

@media only screen and (max-width:768px){

  .links{
    display: none;
  }
  .links.active{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    align-items: center;
    justify-content: center;

  }
  .bars-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50px;
    height: 40px;
    z-index: 4;
    position: relative;
  }
  .bars-button span{
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all .3s ease;
  }
  .bars-button.active span:nth-child(2){
    display: none;
  }
  .bars-button.active span:nth-child(1){
     position: absolute;
     transform: rotate(-45deg);
  }
  .bars-button.active span:nth-child(3){
    position: absolute;
    transform: rotate(45deg);
  }
}