body{
    
  }
  :root {
    --background-over: rgba(0,0,0,0.4)
  }
  
  .header {
  
    transition: all 0.9s ease-in-out; 
    overflow: hidden;
    width: 25%;
    height: 0;
    right: 0;
    position: absolute;
  
   
  }
  
  .header.open{
    height: 100vh;
    background-color:var(--background-over);
    
    
  }
  .header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: 30px;
    
  }
  /* /* .header nav ul li a{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  } */
  .header nav ul li{
    margin:20px 0px;
    
  } 
  .header nav ul li a{
    font-size:18px;
    text-transform: uppercase;
  }
  .menu-btn button{
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    color: aliceblue;
    margin: 60px;
    font-size: 45px;
    z-index: 99999;
    cursor: pointer;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: aliceblue;
  }